# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\learn_pyqt\simple-python-camera-viewer-opencv3-PyQt5-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
