# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\learn_python_socket\socket_chat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
