# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\learn_pyqt\tcp_udp_web_tools-pyqt5-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
